* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.light {
  background-color: #fafafa;
  color: rgb(37, 36, 36);
}

.dark {
  background-color: rgb(37, 36, 36);
  color: white;
}
